<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unauthorized</title>

    <link rel="stylesheet" href="/Error/index.css">
    <link rel="icon" href="/Error/icon.png">
</head>
<body>
<h1>Unauthorized</h1>
<p class="zoom-area"><b>You</b> have no permission to access this page </p>
<section class="error-container">
    <span>4</span>
    <span><span class="screen-reader-text">0</span></span>
    <span>3</span>
</section>
<div class="link-container">
    <a href="/home" class="more-link">Return to homepage</a>
</div>
</body>
</html>