<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/RegisterPage/style.css">

    <link rel="icon" href="/RegisterPage/edit.png">

    <title>Change Password</title>
</head>
<body>
<div class="container">
    <header>User Update</header>

    <form action="/changePassword" method="POST">
        <div class="form first">
            <div class="details personal">
                <span class="title">Change your password</span>

                <div class="fields">
                    <div class="fields">
                        <div class="input-field">
                            <label>Current Password</label>
                            <input name="curPass" type="password" placeholder="Enter your current password">
                        </div>

                        <div class="input-field">
                            <label>New Password</label>
                            <input name="newPass" type="password" placeholder="Enter your new password">
                        </div>

                        <div class="input-field">
                            <label>Verify New Password</label>
                            <input name="verifyNewPass" type="password" placeholder="Verify your new password">
                        </div>
                    </div>
                </div>
            </div>

            <a href="/home" style="text-decoration: none; display: block; max-width: 200px">
                <button type="button" class="nextBtn" style="background-color: rgb(128,128,128); text-decoration: none">
                    Back
                </button>
            </a>

            <button class="nextBtn">
                <input style="background: none; color: white; border: none" type="submit" value="Update">
            </button>

            <div class="input-field">
                <label style="color: red" th:text="${message}"></label>
                <label style="color: green" th:text="${success}"></label>
            </div>

        </div>
    </form>
</div>

<!--<script src="RegisterPage/script.js"></script>-->
</body>
</html>