<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some error occurred</title>

    <link rel="stylesheet" href="/Error/index.css">
    <link rel="icon" href="/Error/icon.png">
</head>
<body>
    <h1>Some errors occurred!</h1>
    <p class="zoom-area"><b>Hehe</b> hehe hehe hehe hehe </p>
    <section class="error-container">
        <span>4</span>
        <span><span class="screen-reader-text">0</span></span>
        <span>x</span>
    </section>
    <div class="link-container">
        <a href="/home" class="more-link">Return to homepage</a>
    </div>
</body>
</html>